<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unsalgasimliapplicationsnsug.projectnsug">

    <!-- Must have for any Firebase/network calls -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Your other permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectnsug">

        <!-- 1) This shall be the entry point now -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2) MainActivity is now secondary -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 3) Other screens -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PartnersActivity" android:exported="true"/>
        <activity android:name=".PartnerRequestsActivity" />
        <activity android:name=".AddNoteActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".MediaActivity" android:exported="false"/>
        <activity android:name=".AddMediaActivity" android:exported="false"/>
        <activity android:name=".AddPartnerActivity" android:exported="true"/>

        <!-- Nudge flow -->
        <activity android:name=".NudgeActivity" android:exported="false" />
        <receiver android:name=".NudgeReceiver" />

    </application>
</manifest>
